Repository Sylius/MolliePlugin, pull requests merged in 2025-05, with the labels that each got.

#158 [Maintenance] Minimize the need of copying templates
  README.md
  UPGRADE-2.1.md
  config/ui/admin/mollie_subscription.yaml
  config/ui/admin/order.yaml
  config/ui/admin/payment_method.yaml
  config/ui/admin/product.yaml
  config/ui/admin/refund.yaml
  config/ui/admin/shipment.yaml
  config/ui/shop/cart_recurring_variants.yaml
  config/ui/shop/checkout.yaml
  config/ui/shop/product_variants_recurring.yaml
  templates/Admin/Order/Show/Payment/_completePaymentLink.html.twig
  templates/Admin/Order/Show/Payment/_refund.html.twig
  templates/Admin/Product/Form/_productType.html.twig
  templates/Admin/Refund/_orderVoucherNotice.html.twig
  templates/Admin/Shipment/Partial/_shipContent.html.twig
  templates/Shop/Checkout/_supportApplePayButton.html.twig
  templates/Ui/OnboardingWizard/_navigation.html.twig
  templates/bundles/SyliusAdminBundle/Layout/layout.html.twig
  templates/bundles/SyliusAdminBundle/Order/Show/_payment.html.twig
  templates/bundles/SyliusAdminBundle/Product/Tab/_details.html.twig
  templates/bundles/SyliusRefundPlugin/orderRefunds.html.twig
  templates/bundles/SyliusShopBundle/Checkout/_support.html.twig
  templates/bundles/SyliusShopBundle/Product/_info.html.twig
  templates/bundles/SyliusUiBundle/Layout/sidebar.html.twig
  tests/Application/templates/bundles/SyliusAdminBundle/Layout
  tests/Application/templates/bundles/SyliusAdminBundle/Product
  tests/Application/templates/bundles/SyliusAdminBundle/Shipment
  tests/Application/templates/bundles/SyliusRefundPlugin/orderRefunds.html.twig
  tests/Application/templates/bundles/SyliusShopBundle/Product
  tests/Application/templates/bundles/SyliusUiBundle/Layout
Labels: DX, Maintenance

#159 Revert "Add Symfony Workflow support"
  .github/workflows/build.yml
  config/config.yaml
  config/services/workflow.xml
  config/workflow/mollie_subscription.yaml
  config/workflow/mollie_subscription_manual.yaml
  config/workflow/payment_mollie_subscription.yaml
  config/workflow/sylius_shipment.yaml
  src/Entity/MollieSubscriptionInterface.php
  src/EventListener/Workflow/MollieSubscription/AbortSubscriptionGuardListener.php
  src/EventListener/Workflow/MollieSubscription/AfterActivateListener.php
  src/EventListener/Workflow/MollieSubscription/CompleteSubscriptionGuardListener.php
  src/EventListener/Workflow/MollieSubscription/SubscriptionScheduleSuccessListener.php
  src/EventListener/Workflow/SyliusOrderCheckout/ApplyPaymentSurchargeListener.php
  src/EventListener/Workflow/SyliusPayment/SubscriptionPaymentFailListener.php
  src/EventListener/Workflow/SyliusPayment/SubscriptionPaymentSuccessListener.php
  src/EventListener/Workflow/SyliusShipment/PurifyReadyShipmentsListener.php
  src/EventListener/Workflow/SyliusShipment/ResolveShipmentStateListener.php
  src/StateMachine/MollieRecurringTransitions.php
  src/StateMachine/MollieSubscriptionTransitions.php
  src/StateMachine/ShipmentTransitions.php
  src/Subscription/Guard/SubscriptionGuardInterface.php
  tests/Application/config/packages/sylius_state_machine_abstraction.yaml
Labels: Maintenance

#160 [Maintenance] Add leftover removed template to upgrade file
  UPGRADE-2.1.md
Labels: Maintenance

#156 Add state machine abstraction
  UPGRADE-2.2.md
  config/services/apple_pay/provider.xml
  config/services/cli.xml
  config/services/controller/admin.xml
  config/services/state_machine.xml
  src/ApplePay/Provider/OrderPaymentApplePayDirectProvider.php
  src/Console/Command/BeginProcessingSubscriptions.php
  src/Console/Command/ProcessSubscriptions.php
  src/Controller/Admin/RefundAction.php
  src/Controller/Shop/PayumController.php
  src/StateMachine/Applicator/MollieOrderStatesApplicator.php
  src/StateMachine/Transition/PaymentStateMachineTransition.php
  src/StateMachine/Transition/ProcessingStateMachineTransition.php
  src/StateMachine/Transition/StateMachineTransition.php
  tests/Behat/Context/Setup/OrderContext.php
  tests/Behat/Resources/services/contexts/setup.yml
  tests/Unit/Action/StateMachine/Transition/PaymentStateMachineTransitionTest.php
  tests/Unit/Action/StateMachine/Transition/ProcessingStateMachineTransitionTest.php
  tests/Unit/Action/StateMachine/Transition/StateMachineTransitionTest.php
Labels: DX

#167 [Maintenance] Remove AdminOrderCreation integration
  UPGRADE-3.0.md
  ecs.php
  features/integration/admin_order_creation/creating_recurring_subscription_through_admin.feature
  phpstan.neon.dist
  src/ApplePay/Provider/ApplePayDirectProvider.php
  src/DependencyInjection/AdminOrderCreationCompatibilityPass.php
  src/Resolver/PaymentLinkResolver.php
  src/SyliusMolliePlugin.php
  tests/Application/config/integration/sylius_admin_order_creation_plugin/bundles.php
  tests/Application/config/integration/sylius_admin_order_creation_plugin/packages/config.yaml
  tests/Application/config/integration/sylius_admin_order_creation_plugin/routes.yaml
  tests/Application/config/integration/sylius_admin_order_creation_plugin/services_test.yaml
  tests/Application/src/EventListener/PaymentLinkCreationListener.php
  tests/Behat/Resources/integration/sylius_admin_order_creation_plugin/services.xml
  tests/Behat/Resources/integration/sylius_admin_order_creation_plugin/suites.yaml
  tests/Behat/Resources/integration/sylius_admin_order_creation_plugin/suites/ui/creating_mollie_subscription_through_admin.yaml
  tests/Functional/DependencyInjection/AdminOrderCreationCompatibilityPassTest.php
Labels: Dependencies, Maintenance

#169 [Admin][Logger] Update templates
  config/grids/admin/mollie_logger.yaml
  config/routes/admin/mollie_logger.yaml
  old_templates/Admin/Logger/Grid/_theme.html.twig
  old_templates/Admin/Logger/_level.html.twig
  src/Form/Type/MollieLoggerLevelFilterType.php
  src/Grid/Filter/MollieLoggerLevel.php
  templates/admin/logger/grid/field/level.html.twig
  templates/admin/logger/grid/filter/log_level.html.twig
Labels: Admin

#172 [Admin][EmailTemplate] Update templates
  config/config.yaml
  config/grids/admin/mollie_email_template.yaml
  config/routes/admin/mollie_email_template.yaml
  config/services/twig.xml
  config/twig_hooks/admin/email_template/create.yaml
  config/twig_hooks/admin/email_template/update.yaml
  old_templates/Admin/TemplateMollieEmail/Crud/_form.html.twig
  templates/admin/email_template/form/sections/general/style.html.twig
  templates/admin/email_template/form/sections/general/translations.html.twig
  templates/admin/email_template/form/sections/general/translations/content.html.twig
  templates/admin/email_template/form/sections/general/translations/name.html.twig
  templates/admin/email_template/form/sections/general/translations/subject.html.twig
  templates/admin/email_template/form/sections/general/type.html.twig
  translations/messages.en.yml
Labels: Admin

#174 [Admin] Fix the Mollie subscriptions section after sylius 2.0 upgrade
  config/grids/admin/mollie_subscription.yaml
  config/routes/admin/mollie_subscription.yaml
  templates/admin/mollie_subscription/grid/filter/states.html.twig
Labels: Admin

#177 [Admin] Adjust most extended views
  UPGRADE-3.0.md
  config/services/event_listener.xml
  config/twig_hooks/admin/order/show.yaml
  config/twig_hooks/admin/product/create.yaml
  config/twig_hooks/admin/product/update.yaml
  config/twig_hooks/admin/product_variant/create.yaml
  config/twig_hooks/admin/product_variant/update.yaml
  config/ui/admin/order.yaml
  config/ui/admin/product.yaml
  old_templates/Admin/Order/Grid/Field/recurring.html.twig
  old_templates/Admin/Order/Show/Payment/_completePaymentLink.html.twig
  old_templates/Admin/Order/Show/Payment/_refund.html.twig
  old_templates/Admin/Product/Form/_productType.html.twig
  old_templates/ProductVariant/Tab/_recurring.html.twig
  src/EventListener/ProductVariantRecurringOptionsListener.php
  src/Form/Extension/ProductVariantRecurringExtension.php
  templates/admin/order/show/content/sections/payments/item/actions/complete_payment_link.html.twig
  templates/admin/order/show/content/sections/payments/item/actions/refund.html.twig
  templates/admin/product/form/sections/general/product_type.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/body.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/body/interval_amount.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/body/interval_step.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/body/recurring.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/body/times.html.twig
  templates/admin/product_variant/form/sections/mollie_recurring/header.html.twig
  templates/admin/product_variant/form/side_navigation/mollie_recurring.html.twig
Labels: Admin

#182 [Maintenance][CI] Enable migration and functional tests
  .github/workflows/build.yml
  tests/Behat/Context/Setup/OrderContext.php
Labels: CI, Maintenance

#178 [Maintenance] Deprecate product variant menu listener
  UPGRADE-2.2.md
  src/EventListener/ProductVariantRecurringOptionsListener.php
Labels: Maintenance

#184 [Admin][PaymentMethod] Normalize new hooks priorities
  config/twig_hooks/admin/payment_method/mollie/create.yaml
  config/twig_hooks/admin/payment_method/mollie/update.yaml
  config/twig_hooks/admin/payment_method/mollie_subscription/create.yaml
  config/twig_hooks/admin/payment_method/mollie_subscription/update.yaml
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/accordion/item.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/accordion/no_results.html.twig
Labels: Admin, Maintenance

#185 [Admin][Order] Add voucher total to summary on show page
  config/twig_hooks/admin/order/show.yaml
  old_templates/Admin/Crud/form_validation_errors_checker.html.twig
  old_templates/Admin/PaymentMethod/_api_live_key.html.twig
  old_templates/Admin/PaymentMethod/_api_test_key.html.twig
  old_templates/Admin/PaymentMethod/_mollieMessage.html.twig
  old_templates/Admin/PaymentMethod/_mollieMethodsForm.html.twig
  old_templates/Admin/PaymentMethod/_mollie_gateway_help_theme.html.twig
  old_templates/Admin/PaymentMethod/_statusTest.html.twig
  old_templates/Admin/PaymentMethod/_testApiKey.html.twig
  old_templates/Admin/PaymentMethod/_versionNotification.html.twig
  old_templates/Admin/PaymentMethod/testApiKeys.html.twig
  old_templates/bundles/SyliusAdminBundle/Order/Show/Summary/_totalsPromotions.html.twig
  old_templates/bundles/SyliusAdminBundle/PaymentMethod/_form.html.twig
  templates/admin/order/show/content/sections/summary/voucher_total.html.twig
Labels: Admin, Maintenance

#183 [Maintenance] Remove jQuery
  assets/admin/js/molliePayments/app.js
  assets/admin/js/molliePayments/showHideApiKeys.js
  assets/admin/js/molliePayments/sortable.js
  assets/admin/js/molliePayments/testApiKeys.js
  assets/shop/js/mollie/app.js
  assets/shop/js/mollie/applePayDirect.js
  assets/shop/js/mollie/cartSummaryVariants.js
  assets/shop/js/mollie/cartTableRecurringVariants.js
  assets/shop/js/mollie/cartVariants.js
  assets/shop/js/mollie/variantPicker.js
  tests/TestApplication/package.json
Labels: Admin, Frontend, Shop

#190 Upgrade shop checkout to sylius 2.0
  UPGRADE-3.0.md
  assets/shop/js/mollie/app.js
  composer.json
  config/grids/shop/cancel_subscription_mollie.yaml
  config/routes/shop/applePay.yaml
  config/routes/shop/creditCardTranslation.yaml
  config/routes/shop/pageRedirect.yaml
  config/routes/shop/paymentFee.yaml
  config/routes/shop/paymentWebhook.yaml
  config/routes/shop/payum.yaml
  config/routes/shop/qrCode.yaml
  config/routes/shop/subscription_mollie.yaml
  config/twig_hooks/shop/base.yaml
  config/twig_hooks/shop/checkout/complete.yaml
  config/twig_hooks/shop/checkout/select_payment.yaml
  config/twig_hooks/shop/shared/form/select_payment.yaml
  old_templates/Shop/Checkout/SelectPayment/_applePayButton.html.twig
  old_templates/Shop/PaymentMollie/_form.html.twig
  old_templates/Shop/Summary/_productVariantsDetails.html.twig
  old_templates/bundles/SyliusShopBundle/Order/_summary.html.twig
  src/Api/MolliePaymentConfigurationProvider.php
  src/Controller/Shop/QrCodeAction.php
  src/Payum/Action/CaptureAction.php
  templates/shop/checkout/complete/content/qr_box.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/cart_token.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/name.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/card_holder.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/card_number.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/errors.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/expiry_date.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/save_credit_card.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/fields/verification_code.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card/use_saved_card.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/input.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/label.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/save_card_info.html.twig
  templates/shop/shared/form/select_payment/payment/choice/details/use_saved_card.html.twig
  templates/shop/shared/layout/base/mollie_javascripts.html.twig
  tests/Unit/Action/CaptureActionTest.php
Labels: Shop

#192 [Maintenance] Refactor unnecessarily overwritten repositories
  UPGRADE-3.0.md
  config/resources/order.yaml
  config/resources/payment_method.yaml
  config/services/creator.xml
  config/services/refund/checker.xml
  config/services/refund/repository.xml
  config/services/repository.xml
  config/services/resolver.xml
  config/services/validator.xml
  src/Creator/AbandonedPaymentLinkCreator.php
  src/EventListener/RefundPaymentGeneratedAutoCompleteListener.php
  src/Payum/Action/Subscription/CreateInternalSubscriptionAction.php
  src/Refund/Checker/DuplicateRefundTheSameAmountChecker.php
  src/Refund/Repository/Query/CreditMemosByOrderNumberDateTimeAndAmountQuery.php
  src/Refund/Repository/Query/CreditMemosByOrderNumberDateTimeAndAmountQueryInterface.php
  src/Repository/CreditMemoRepository.php
  src/Repository/CreditMemoRepositoryInterface.php
  src/Repository/OrderRepositoryInterface.php
  src/Repository/PaymentMethodRepositoryInterface.php
  src/Repository/Query/AbandonedOrdersQuery.php
  src/Repository/Query/AbandonedOrdersQueryInterface.php
  src/Repository/Query/MollieBasedPaymentMethodQuery.php
  src/Repository/Query/MollieBasedPaymentMethodQueryInterface.php
  src/Resolver/MollieApiClientKeyResolver.php
  src/Resolver/MolliePaymentsMethodResolver.php
  src/Resolver/PaymentMethodResolver.php
  src/Subscription/Processor/SubscriptionProcessor.php
  src/Validator/Constraints/PaymentMethodMollieChannelUniqueValidator.php
  tests/Functional/Api/RefundOrderWebhookTest.php
  tests/Unit/Payments/MethodResolver/MolliePaymentMethodsResolverTest.php
  tests/Unit/Processor/SubscriptionProcessorTest.php
Labels: DX, Maintenance, Enhancement

#197 [Shop] Add twig hooks for mollie subscription
  config/twig_hooks/shop/shared/form/select_payment.yaml
  templates/shop/shared/form/select_payment/payment/choice/details/payment_methods/payment_method/credit_card.html.twig
Labels: Shop

#191 [Shop][Order] Rework cancelling subscriptions
  config/config.yaml
  config/grids/shop/cancel_subscription_mollie.yaml
  config/routes/shop/subscription_mollie.yaml
  config/services/twig.xml
  config/twig_hooks/shop/account/order/show.yaml
  old_templates/Grid/Action/cancelSubscriptionMollie.html.twig
  old_templates/Shop/Grid/Action/cancelSubscriptionMollie.html.twig
  old_templates/bundles/SyliusShopBundle/Order/_summary.html.twig
  src/Repository/MollieSubscriptionRepository.php
  src/Repository/MollieSubscriptionRepositoryInterface.php
  src/Twig/Component/Order/CancelSubscriptionComponent.php
  templates/shop/account/order/grid/action/cancel_mollie_subscription.html.twig
  templates/shop/component/cancel_subscription.html.twig
Labels: Shop

#193 [Admin][PaymentMethod] Form fixes
  UPGRADE-3.0.md
  assets/admin/js/molliePayments/app.js
  assets/admin/js/molliePayments/main.js
  assets/admin/js/molliePayments/toggle_all_methods.js
  config/grids/admin/mollie_subscription.yaml
  config/routes/admin.yaml
  config/routes/admin/methods.yaml
  config/routes/admin/mollie_email_template.yaml
  config/routes/admin/mollie_logger.yaml
  config/routes/admin/mollie_logo.yaml
  config/routes/admin/mollie_subscription.yaml
  config/routes/admin/onboarding_wizard/completed.yaml
  config/routes/admin/onboarding_wizard/status.yaml
  config/routes/admin/payment_link.yaml
  config/routes/admin/payment_refund.yaml
  config/routes/admin/product_type.yaml
  config/twig_hooks/admin/payment_method/mollie/update.yaml
  config/twig_hooks/admin/payment_method/mollie_subscription/update.yaml
  src/Controller/Admin/DeletePaymentMethodImageAction.php
  src/Form/Type/MollieGatewayConfigType.php
  src/Form/Type/MollieGatewayConfigurationType.php
  src/Menu/AdminOrderShowMenuListener.php
  templates/admin/payment_method/form/form_theme.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/credentials/test_api_keys_action.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/accordion.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/accordion/item/header/enabled.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/enable_all.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/header/load_methods.html.twig
  templates/admin/payment_method/update/content/mollie_info.html.twig
  templates/admin/payment_method/update/content/mollie_version.html.twig
  translations/messages.en.yml
Labels: Admin

#199 [Admin][PaymentMethod] Add enable all toggle to subscription method view
  config/twig_hooks/admin/payment_method/mollie_subscription/update.yaml
Labels: Admin

#186 [Admin][PaymentMethod] Fix onboarding wizard on update
  assets/admin/js/onboardingWizard/config/steps.js
  assets/admin/js/onboardingWizard/helpers/filterMethod.js
  assets/admin/js/onboardingWizard/helpers/index.js
  assets/admin/js/onboardingWizard/helpers/stepFactory.js
  config/config.yaml
  templates/admin/payment_method/form/sections/gateway_configuration/credit_cards_extra/components.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/credit_cards_extra/single_click.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/body/accordion/item/body/country_restrictions.html.twig
  templates/admin/payment_method/form/sections/gateway_configuration/mollie_payment_methods/header/load_methods.html.twig
  tests/TestApplication/package.json
  translations/messages.en.yml
Labels: Admin, UX

#194 [Maintenance][Email] Update emails
  UPGRADE-3.0.md
  config/email/payment_link.yaml
  config/routes/admin/payment_link.yaml
  config/services/creator.xml
  config/services/form/type.xml
  config/services/menu.xml
  config/twig_hooks/admin/order/show.yaml
  config/twig_hooks/admin/payment_link/create.yaml
  old_templates/Admin/Email/paymentLinkConfirmation.html.twig
  old_templates/Admin/Paymentlink/_form.html.twig
  src/Controller/Admin/GeneratePaymentLinkAction.php
  src/Creator/AbandonedPaymentLinkCreator.php
  src/Form/Type/PaymentLinkType.php
  src/Mailer/Sender/PaymentLinkEmailSender.php
  src/Menu/AdminOrderShowMenuListener.php
  templates/admin/order/show/content/sections/payments/item/actions/complete_payment_link.html.twig
  templates/admin/order/show/content/sections/payments/item/actions/send_payment_link.html.twig
  templates/admin/payment_link/create.html.twig
  templates/admin/payment_link/create/content/header/breadcrumbs.html.twig
  templates/admin/payment_link/create/content/header/title_block/actions/cancel.html.twig
  templates/admin/payment_link/create/content/header/title_block/actions/generate.html.twig
  templates/admin/payment_link/create/content/header/title_block/title.html.twig
  templates/admin/payment_link/form/sections/general/methods.html.twig
  templates/email/payment_link_confirmation.html.twig
  translations/validators.en.yml
Labels: Admin

#200 [Maintenance] Adjust legacy installation
  doc/installation.md
  doc/legacy_installation.md
  src/Entity/GatewayConfigTrait.php
  tests/TestApplication/src/Entity/GatewayConfig.php
  tests/TestApplication/src/Entity/Product.php
  tests/TestApplication/src/Entity/ProductVariant.php
Labels: Maintenance, Documentation

#205 [Admin] Fix invalid payment link route
  templates/admin/order/show/content/sections/payments/item/actions/send_payment_link.html.twig
Labels: Maintenance

#208 [Admin][Email] Fix complete payment link
  templates/admin/order/show/content/sections/payments/item/actions/complete_payment_link.html.twig
Labels: Admin

#204 [Maintenance] Add workflow listeners to sylius state machines
  .github/workflows/build.yml
  config/config.yaml
  config/services/event_listener.xml
  src/EventListener/Workflow/OrderCheckoutProcessPaymentSurchargeListener.php
  src/EventListener/Workflow/SubscriptionPaymentFailListener.php
  src/EventListener/Workflow/SubscriptionPaymentSuccessListener.php
Labels: Enhancement

#209 [Admin]Refund] Make refund plugin optional
  .github/workflows/build.yml
  UPGRADE-3.0.md
  composer.json
  config/config.yaml
  config/integration/refund-plugin/config.php
  config/integration/refund-plugin/config/twig_hooks/order/refund/show.yaml
  config/integration/refund-plugin/routes.php
  config/integration/refund-plugin/routes/admin/payment_refund.yaml
  config/integration/refund-plugin/services.php
  config/integration/refund-plugin/services/checker.xml
  config/integration/refund-plugin/services/converter.xml
  config/integration/refund-plugin/services/creator.xml
  config/integration/refund-plugin/services/event_listener.xml
  config/integration/refund-plugin/services/handler.xml
  config/integration/refund-plugin/services/parameters.xml
  config/integration/refund-plugin/services/payum.xml
  config/integration/refund-plugin/services/refund.xml
  config/integration/refund-plugin/services/repository.xml
  config/integration/refund-plugin/services/validator.xml
  config/routes.yaml
  config/routes/admin.yaml
  config/services.xml
  config/services/event_listener.xml
  config/services/payum/action.xml
  config/twig_hooks/admin/order/show.yaml
  doc/legacy_installation.md
  ecs.php
  phpstan.neon.dist
  phpunit.xml.dist
  src/DependencyInjection/SyliusMollieExtension.php
  src/Payum/Action/Refund/BaseRefundAction.php
  src/Payum/Action/StatusAction.php
  tests/Integration/Refund/Functional/Api/RefundOrderWebhookTest.php
  tests/Integration/Refund/Functional/DataFixtures/Api/RefundOrderWebhookTest/test_order_status_after_refund_with_credit_memos.yaml
  tests/Integration/Refund/Functional/FunctionalTestCase.php
  tests/Integration/Refund/Functional/Mockoon.json
  tests/Integration/Refund/Unit/Order/OrderPaymentRefundTest.php
  tests/TestApplication/config/config.yaml
  tests/TestApplication/config/integration/refund/config.php
  tests/TestApplication/config/integration/refund/routes.php
  tests/TestApplication/config/routes.yaml
Labels: Admin, Dependencies, Enhancement

#213 [Admin][Order] Bring back partial refunds
  config/routes/admin/payment_refund.yaml
  config/services/menu.xml
  src/Menu/AdminOrderShowMenuListener.php
  src/Payum/Action/Refund/BaseRefundAction.php
  templates/Admin/Order/Show/Payment/_refund.html.twig
Labels: Admin

#211 [Admin][Onboarding] Fix faulty translations and finish styling
  assets/admin/js/onboardingWizard/config/steps.js
  translations/messages.de.yml
  translations/messages.en.yml
  translations/messages.nl.yml
Labels: Admin

#217 [Maintenance] Adjust installation
  README.md
  doc/legacy_installation.md
Labels: Maintenance, Documentation

#219 [Maintenance] Move refund plugin installation to optional steps
  README.md
Labels: Maintenance, Documentation
